/* app css stylesheet */
* {
  margin: 0;
}
a{
  background-color:aquamarine;
  border-radius:40px;
  padding:15px;
}
body{
  background-color:black;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  padding: 0 0 0.5em;
  text-align:center;
  background-image:url("img/header.png");
  padding: 30px;
  background-size:100%;
}

.menu:before {
  content: "~";
}

.menu:after {
  content: "~";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
