/* app css stylesheet */
* {
  margin: 0;
}

html {
  background: url("/img/mnt.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
}
.menu {
  list-style: none;
  padding: 0 0 0.5em;
  text-align:center;
  padding: 30px;
  background-size:100%;
}

.menu:before {
  content: "~";
}

.menu:after {
  content: "~";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
