.stubeeee{
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.albums{
   margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

body {
  background-image: url("./bg.jpg");
  background-size: cover;
  background-color:black;
  margin: 0px;
  overflow: hidden;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  text-align: center;
}
a {
  color: #0078ff;
}
#info {
  color: #fff;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
  z-index: 100;
}
